@import "mixins.scss";
@import "colors.scss";
@import "zindex_layers.scss";


.password_validator {
  @include topLeft(0, 105%);
  position: absolute;
  display: block;
  opacity: 0;
  @include transition(all 0.2s ease-in-out);
  @include size(320px, auto);
  @include box-sizing(border-box);
  @include user-select(none);
  @include transition(all 0.2s ease-in-out);
  opacity: 1;
  z-index: $layer3;


  &:after {
    @include display(absolute);
    @include topLeft(30px, -10px);
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e4e7e8;
  }

  .validator_container {
    @include display(relative);
    @include box-sizing(border-box);
    @include box-sizing(border-box);
    @include border-radius(4px);
    background: #e4e7e8;
    padding: 10px 0px 10px 20px;

    h4.validator_title {
      @include display(relative);
      @include transition(all 0.2s ease-in-out);
      margin: 12px 0 5px 0;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: $dark-blue;
      opacity: .25;
      letter-spacing: 1.5px;

      &.valid {
        color: $green;
        opacity: 1
      }
    }

    ul.rules_list {
      @include display(relative);
      margin: 0;
      padding: 0;

      > li {
        @include display(relative);
        margin: 12px 0 12px 0;
        font-size: 12px;
        letter-spacing: .3px;
        font-weight: 200;
        color: $dark-blue;

        .bad_word {
          font-style: italic;
          padding: 0 5px 0 0;

          &:after {
            content: ',';
            display: inline;
          }

          &:last-child {
            padding: 0;

            &:after {
              display: none;
            }
          }
        }

        .icon_invalid {
          @include display(absolute);
          @include topLeft(1px, 0);
          @include scale(1);
          opacity: 1;
          @include size(18px, 18px);
          @include transition(all 0.2s ease-in-out);

          svg {
            opacity: 1;
            @include size(18px, 18px);

            path {
              fill: $red;
            }
          }
        }

        .icon_valid {
          position: absolute;
          @include topLeft(1px, 0);
          @include scale(0);
          opacity: 0;
          @include size(19px, 19px);
          @include transition(all 0.2s ease-in-out);

          svg {
            opacity: 1;
            @include size(19px, 19px);
          }
        }

        .error_message {
          @include display(relative);
          @include transition(all 0.2s ease-in-out);
          padding: 0 0 0 27px;
          opacity: .9;
        }

        &.valid {
          .icon_invalid {
            @include scale(0);
            opacity: 0;
          }

          .icon_valid {
            @include scale(1);
            opacity: 1;
          }

          .error_message {
            opacity: .3;
          }

        }
      }
    }
  }

  &.visible {
    @include transform(translateX(0px));
    opacity: 1;
  }

  &.invisible {
    @include transform(translateX(-15px));
    opacity: 0;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
  }
}
