@import "mixins.scss";
@import "flexMixins.scss";
@import "colors.scss";
@import "media_queries.scss";

.create_account_screen {
  @include display(absolute);
  @include topLeft(0, 0);
  @include bottomRight(0, 0);
  min-height: 520px;
  opacity: 0;
  @include animation(fadeIn .4s ease-in-out forwards);

  .create_account_form {
    @include flex-display();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    margin: 80px 0 200px 0;
    min-height: 400px;

    > h1 {
      @include display(relative);
      font-size: 34px;
      letter-spacing: .8px;
      font-weight: 200;
      line-height: 34px;
      margin: 0 0 5px 0;
    }

    p {
      @include display(relative);
      font-size: 16px;
      font-weight: 100;
      letter-spacing: .7px;
      color: $dark-blue;
      text-align: center;
      opacity: .5;
      margin: 0 0 30px 0;
    }

    .checkbox_group {
      @include display(relative);
      min-height: 40px;

      span {
        letter-spacing: .5px;
      }
    }


      svg {
        @include size(26px, 26px);

        path {
          @include transition(all 0.2s ease-in-out);
          fill: #545a6a;
        }
      }

      &:hover {
        svg {
          path {
            fill: $light-blue;
          }
        }
      }
  }

  form {
    width: 430px;

    @media #{$mobile}{ 
      width: 300px}

      
    
  }
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
