<template name='battle'>
	<div id="battle_container">
		<p>Logged in as:{{username}}</p>
		<p>
			WELCOME TO {{stage}}
		</p>

		<table id="tbl_main" border="1">
			<tr>
				<th id="title" colspan="100%"><h1>Defeat your opponent!</h1></th>
			</tr>

			<tr>
				<td class="tbl_status_display">
					<table class="status_display" border="1">
						<tr>
							<th id="disp_npc_name_stat" colspan="100%"></th>
						</tr>
						<tr>
							<td><label>HP</label></td>
							<td id="display_npc_hp"></td>
						</tr>
						<tr>
							<td><label>AP</label></td>
							<td id="display_npc_ap"></td>
						</tr>
					</table>
				</td>

				<td>
					<div id="enemy_position" align="center">
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div id="player_position" align="center">
					</div>
				</td>

				<td class="tbl_status_display">
					<table class="status_display" border="1">
						<tr>
							<th id="disp_player_name_stat" colspan="100%"></th>
						</tr>
						<tr>
							<td><label>HP</label></td>
							<td id="display_user_hp"></td>
						</tr>
						<tr>
							<td><label>AP</label></td>
							<td id="display_user_ap"></td>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td class="tbl_console" colspan="100%">
					<table width="100%" height="200px">
						<tr>
							<td width="25%">
								<table border="1" width="100%" height="100%">
									<tr><th colspan="100%">Choose an attack</th></tr>
									<tr><th>Name</th><th>Cost</th></tr>
									<tr><td><button id="user_attack_1_name" ></button></td><td id="user_attack_1_ap"></td></tr>
									<tr><td><button id="user_attack_2_name" ></button></td><td id="user_attack_2_ap"></td></tr>
									<tr><td><button id="user_attack_3_name" ></button></td><td id="user_attack_3_ap"></td></tr>
									<tr><td><button id="skip">Skip Turn</button></td></tr>
								</table>
							</td>

							<td id="text_console">
								<ul id="battle_text">
								</ul>
							</td>

							<td width="25%">
								<table  border="1" width="100%" height="100%">
									<tr>
										<th id="disp_player_name_inv" colspan="100%"></th>
									</tr>
									<tr>
										<td id="ptn1" align="center"><img height="50px" width="50px" src="../../images/potions/health_potion.png"/></td>
										<td id="ptn2" align="center"><img height="50px" width="50px" src="../../images/potions/health_potion.png"/></td>
										<td id="ptn3" align="center"><img height="50px" width="50px" src="../../images/potions/health_potion.png"/></td>
										<td id="ptn4" align="center"><img height="50px" width="50px" src="../../images/potions/health_potion.png"/></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>


		</table>
	</div>
	<button class="btn btn-block btn-default btn-primary" id='summary_button'>Summary</button>

</template>
