
<template name="mainLayout">
  <div id='layout_container'>
    <main>
      {{>Template.dynamic template=content}}
    </main>
  </div>
</template>

<template name='main'>
  <div id='main_container' class="container center-block">
    <header>
      <h1>Warrior of Destiny</h1>
    </header>
    <div class="inner-wrap">
      {{#if currentUser}}
        {{> continue_button}}
        {{> help_button}}
        {{> logout_button}}
      {{else}}
        {{> start_button}}
        {{> continue_button}}
        {{> help_button}}
      {{/if}}

    </div>
  </div>
</template>


<template name='start_button'>
  <button class="btn btn-primary btn-lg main-buttons" id="start">Join the Warrior Ranks</button>
</template>

<template name='continue_button'>
  <button class="btn btn-primary btn-lg main-buttons" id="continue">Continue Journey</button>
</template>

<template name='help_button'>
  <button class="btn btn-primary btn-lg main-buttons" id="help">Guidance</button>
</template>

<template name='logout_button'>
  <button class="btn btn-primary btn-lg logout">Logout</button>
</template>
