<template name='create_character'>
	<div id='character_container' class="container center-block">
		<div id="header">
			<h1 align='center'>Create your character</h1>
		</div>
		{{> character_table}}

		<div id="description">
			<strong>Choose a character from the list to learn more about them.</strong>
		</div>

		{{> create_button}}
	</div>

</template>



<template name='character_table'>	
	<div id="content_section">
		<table border="1" id="tbl_main" width="100%">
		<tr>
			<td>
				{{> character_options}}
			</td>
			<td>
				<div id="display_avatar" align="center">
					Choose a character to view their avatar.
				</div>
			</td>	
			<td>
				{{> attribs}}
			</td>
		</tr>
	</table>
			
	</div>
</template>

<template name='character_options'>
	<div align="center"><h3>Your character options: </h3></div>
	<select id="slct_char_type">
		{{#each character}}
			<option>{{character_description}}</option>
		{{/each}}
	</select>
</template>


<template name='attribs'>
	<div id="display_attributes" align="center">
		<!--Choose a character to view their attributes.-->
		<table border="0" id="tbl_attr_display" width="55%">
			<tr><th colspan="100%"><h5>Distribute <span id="atr_pts_remaining">{{attribute_pts}}</span> additional attributes</h5></th></tr>
			<tr>
				<td><label>Strength:</label></td>
				<td><button id="btn_increase_strength" class="increase_button">+</button></td>
				<td id="character_strength_display"></td>
				<td><button id="btn_decrease_strength" class="decrease_button">-</button></td>
			</tr>
		
		<tr>
			<td><label>Intelligence:</label></td>
			<td><button id="btn_increase_intelligence" class="increase_button">+</button></td>
			<td id="character_intelligence_display"></td>
			<td><button id="btn_decrease_intelligence" class="decrease_button">-</button></td>
		</tr>
		
		<tr>
			<td><label>Speed:</label></td>
			<td><button id="btn_increase_speed" class="increase_button">+</button></td>
			<td id="character_speed_display"></td>
			<td><button id="btn_decrease_speed" class="decrease_button">-</button></td>
		</tr>
		
		<tr>
			<td><label>Stealth:</label></td>
			<td><button id="btn_increase_stealth" class="increase_button">+</button></td>
			<td id="character_stealth_display"></td>
			<td><button id="btn_decrease_stealth" class="decrease_button">-</button></td>
		</tr>
		
		<!--<tr>
			<td><label>Agility:</label></td>
			<td id="character_agility_display"></td>
			<td><button id="btn_increase_agility" onclick="increaseAttributeVal(this.id)">+</button></td>
		</tr>-->
		
		<tr>
			<td><label>Luck:</label></td>
			<td><button id="btn_increase_luck" class="increase_button">+</button></td>
			<td id="character_luck_display"></td>
			<td><button id="btn_decrease_luck" class="decrease_button">-</button></td>
		</tr>
		
		<tr>
			<td><label>Chi:</label></td>
			<td><button id="btn_increase_chi" class="increase_button">+</button></td>
			<td id="character_chi_display"></td>
			<td><button id="btn_decrease_chi" class="decrease_button">-</button></td>
		</tr>
	</table>
	</div>
</template>


<template name='create_button'>
	<div align="center">
		<button id="btn_continue">Create Character</button>
	</div>
</template>

		
		