<template name='stages'>
	<div id='location_container'>
		<p>Logged In As {{username}}</p>
		<table id='stats_tbl'>
			<tr>
				<td id='wins'>Total Wins: {{wins}}</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='losses'>Total Losses: {{losses}}</td>
			</tr>
		</table>
		<table id='tbl_main' border='1'>
			<tr>
				<th colspan='100%'><h1>Which continent shall you conquer?</h1></th>
			</tr>

			<tr>
				<td class='narrow_td'>
					<div align='left'>
						<ul>
							<li id='africa'>Africa</li>
							<li id='australia'>Australia</li>
							<li id='antartica'>Antartica</li>
							<li id='asia'>Asia</li>
							<li id='europe'>Europe</li>
							<li id='north_america'>North America</li>
							<li id='south_america'>South America</li>
						</ul>
					</div>
				</td>

				<td class='wide_td'>
					<div id='location_img'></div>
				</td>
			</tr>
		</table>
	</div>

</template>
