<template name="login">
	<h2 class="form-login-heading">Continue Your Journey</h2>
	<form>
		<fieldset>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	    		<input id="email" type="email" class="form-control" name="email" placeholder="Email">
	    	</div>

	    	<div class="input-group">
	    		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	    		<input id="password" type="password" class="form-control" name="password" placeholder="Password">
	    	</div>

	    	<div class='at-pwd-link'>
	    		<button class='btn btn-sm' id='forgotpw'>Forgot Password</button>
	    	</div>

	

	    	<button class="btn btn-block btn-default btn-primary" type="submit">Login</button>
    	</fieldset>
	</form>
</template>


<template name='forgotPassword'>
	<form id='forgotPasswordForm'>
		<input id='forgotPasswordEmail' type='text' name='email' />
		<input class='btn-submit' type="submit" value='Reset password' />

	</form>
</template>
