<template name='register_screen'>
	{{> register_container}}
</template>


<template name='register_container'>
	<div id='reg_container' class="container center-block">
		<header>
	    	<h1>Become a Legendary Warrior</h1>
	  	</header>
			{{#if currentUser}}
		  	{{story_screen}}
		  	{{else}}
				<div>
					{{> React component=RegisterScreen}}
				</div>
		  {{/if}}
	</div>
</template>
