<template name='summary'>
  <div id='summary_container'>
    <h1>Fight Summary</h1>
    <p>The victor is {{winner}}</p>
    <p>Number of turns needed: {{turns}}</p>
    <button class="btn btn-block btn-default btn-primary">Return to Stage Select</button>
  </div>
</template>
