<template name='test'>
	<div id="testDiv">
        {{#autoForm schema="MoralsSchema" id="morality_form"}}
        <fieldset>
    		<h1 align="center">Morality Test</h1>

            <br>
                {{> afQuickField name='spirit_animal'}}
            <br>

            <br>
                {{> afQuickField name='honor'}}
            <br>

            <br>
                {{> afQuickField name='humility'}}
            <br>

            <br>
                {{> afQuickField name='diplomacy'}}
            <br>

            <br>
                {{> afQuickField name='kindness'}}
            <br>
            <br>

    		<input id="testInput" class='btn btn-primary btn-lg' type="submit" value="Choose Your Warrior"/>

       </fieldset>

		{{/autoForm}}


	</div>

</template>
