$ninja_pic: url('/img/avatars/ninja.jpg');
$mma_pic: url('/img/avatars/mma.jpg');
$sambo_pic: url('/img/avatars/sambo.jpg');
$muay_thai_pic: url('/img/avatars/muaythai.jpg');


#character_container
{
	position:fixed;
  	width:100%;
  	height:100%;
  	top:0px;
  	left:0px;
  	z-index:1000;
	background-color:black;
	border-style:dotted;
	border-width:thin;
	font-family:"Arial Black", Gadget, sans-serif;
}
select
{
	width:100%;
	background-color: black;
}

#header
{
	margin:0;
	width:100%;
	background-color:black;
	color: white;
}

#content_section{
	width:100%;
	background-color:gray;
	margin-left:auto;
	margin-right:auto;
}

#description
{
	width:100%;
	background-color:orange;
	margin-left:auto;
	margin-right:auto;
	color:black;
}

#tbl_main
{
	border-style:outset;
	/*border-color:white;*/
	color:black;
	height:50%;
}

#content_section table tr td
{
	width:33.3%;
}

#tbl_name_field
{
	margin-top:0;
	margin-left:1.5%;
	margin-right:auto;
	color:white;
}

#content_section
{
	font-weight:bold;
}

#btn_go_to_attr
{
	width:100%;
	margin-top:5%;
}

#tbl_attr_display
{
	border:none;
	color:black;
}

#tbl_attr_display td label
{
	font-weight:bold;
}

#atr_pts_remaining{
	font-weight: bold;
	color:red;
}