$stage_font: "Arial Black", Gadget, sans-serif;
$earth_pic: url('/img/locations/earth.jpg'); //default background image


#location_container
{
	background-color:black;
	color:white;
	border-style:dotted;
	border-width:thin;
	width:100%;
	//position:fixed;
	height:100%;
	top:0px;
	left:0px;
	z-index:1000;
	font-family:$stage_font;
}

#stats_tbl{
	background-color: black;
}

#wins{
	color: green;
}

#losses{
	color: red;
}


#tbl_main
{
	color:white;
	width:77%;
	margin-left:auto;
	margin-right:auto;
}

#tbl_main ul li
{
	color:white;
	list-style-type:none;
	font-size:2.7em;
	margin-right:0;
	margin-left:0;
	margin-bottom:1em;
}

#tbl_main ul li:hover
{
	color:red;
}

#main_content
{
	width:100%;
}

.narrow_td
{
	width:25%;
	margin:0;
	background-color:silver;
	color:black;
}

.wide_td
{
	width:70%;
	height:100%;
	margin:0;
}

#location_img
{
	width:100%;
	height:100%;
	margin:0;
	background-image: $earth_pic;
	background-size:100% 100% cover;
	background-repeat:no-repeat;

	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#location_img img{
	flex-shrink: 0;
	width:100%;
	height:100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

