@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url('https://fonts.googleapis.com/css?family=Kumar+One');

$world_map_img: url('/img/world_map.jpg');
$game_font: 'Press Start 2P', sans-serif;

// for raised button, change border-radius
$raised: 24px;

// for centered box
$center_box: auto;

#main_container
{
  //css to allow div to cover whole page
  opacity:0.95;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-image: $world_map_img;
	background-size: cover;
}

h1{
  font-family: $game_font;
  font-size: 3em;
  text-align: center;
}

.inner-wrap {
  display: flex;
  width: 80%; max-width: 280px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;

  //background: darken( #ccc, 10% );
  opacity: 50%;

  margin: 0 $center_box;
  top: 50%;

}


.main-buttons {
  position: relative;
  overflow: hidden; // so important!
  margin: 0.5em 0;
  padding: 1em 0.75em;
  width: 80%;

  color: rgba(172, 43, 197, 0.56);
  font-size: 1.1em;
  font-weight: 500;
  background: #2b292b;
  border-radius: $raised;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
