@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

$world_map_img: url('/img/world_map.jpg');
$game_font: 'Press Start 2P', sans-serif;

#reg_container
{
  //css to allow div to cover whole page
  opacity:0.9;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-image: $world_map_img;
  background-size: cover;
}