@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

$world_map_img: url('/img/world_map.jpg');
$game_font: 'Press Start 2P', sans-serif;

#story_container
{
  //css to allow div to cover whole page
  opacity:0.9;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-image: $world_map_img;
  background-size: cover;
  font-family: $game_font;

  
  margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
  
  padding:0.2em;
  
  border:dotted silver;
}

#story_block{
  position:relative;
  width:100%;
  height:70%;
  top:0px;
  left:0px;

}


//container items
@keyframes scroller
{
  0% {top: 8em}
  //50% {right:10em }
  //75%{ left:10em}
  100%{top: 0em}
}

@-webkit-keyframes scroller
{
  0% {top: 8em}
  100%{top: -1em}
}

@-moz-keyframes scroller{
  0% {top: 8em}
  100%{top: -1em}
}

#storyscroll{
  position:relative;
  line-height:1.5em;  
  font-size: 1em;
  animation:scroller 20s linear;
  -webkit-animation:scroller 20s linear;
  -moz-animation:scroller 20s linear;
  color:black;
  z-index:1;
}

#storybutton
{
  padding:5px;
  background-color: black;
  border: 1px solid #666;
  color:goldenrod;
  text-decoration:none;
  font-family: $game_font;
  -webkit-animation:buttonfade 22s ease-in;
  
}

@-webkit-keyframes buttonfade
{
  0% {opacity: 0}
  100%{opacity: 1}
}
