@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");


$test_background_img: url('/img/globe.jpg');
$game_font: 'Press Start 2P', sans-serif;

#testDiv
{
	background-size: 100%;
	height: 100%;
	width: 100;
	background-image: $test_background_img;
	color: #01DF01;
	
	font-family: $game_font;


}
/*
body
{
	background-color: black;
	color: #01DF01;
}
*/


#testInput
{
  padding:5px;
  background-color: black;
  border: 1px solid #666;
  color:#01DF01;
  text-decoration:none;
  font-family: $game_font;

}